MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbname>?appName=<appName>
SALT_ROUNDS=10
TOKEN_SECRET=remplacer_par_une_chaine_aleatoire_longue_et_secrete
TOKEN_EXPIRES_IN=24h
PORT=4000
FRONTEND_URL=http://localhost:3000
IMAGE_MAX_WIDTH=463
IMAGE_MAX_HEIGHT=595
IMAGE_QUALITY=80
